.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 200px;
    display: inline-block;
    height: 85px;
    padding-top: 65px;
    text-align: center;
    margin: 20px;
    font-size: 16px;
    text-transform: uppercase;
    font-family: Arial;
    color: #888;
}

.title {
    color: grey;
    font-size: 18px;
}

#cardHolder {
    text-align: center;
}
